<h1>Upload Blood Test Results</h1>

<%= form_with url: blood_test_results_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.label :file, "Upload CSV File" %>
    <%= form.file_field :file, accept: '.csv' %>
  </div>

  <%= form.submit "Upload" %>
<% end %>

